main {
  .block-main-one {
    height: 500px;
    background-color: #ebb240;
  }
  .block-main-two {
    height: 500px;
    background-color: green;
  }
  .block-main-three {
    height: 250px;
    background-color: #dfe0d9;
  }
  .block-main-four {
    height: 465px;
    background-color: red;
  }
  .block-main-five {
    height: 465px;
    background-color: #7a848f;
  }
  .block-main-six {
    height: 465px;
    background-color: #eaeaea;
  }
  .block-main-seven {
    height: 251px;
    background-color: blue;
  }

}
